[Desktop Entry]
Comment=Setup
Exec=konsole -e /home/deck/.bin/setup.sh
Icon=system-software-install
Name=Setup
StartupNotify=true
Terminal=false
Type=Application
