#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=Remote control and meeting solution.
Comment=Remote control and meeting solution.
Exec=/home/deck/.bin/teamviewer.sh
Name=TeamViewer
StartupNotify=true
Terminal=false
Type=Application
Icon=teamviewer
